body {
  /*font-family: 'Work Sans', sans-serif;
  font-family: 'Raleway', sans-serif;*/
  font-family: 'Montserrat', sans-serif;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.footer {
  background-color: white;
}

.is-maroon {
  background-color: #420d09;
}

.axis .domain {
  display: none;
}

div.tooltip {
  position: absolute;
  max-width: auto;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
  pointer-events: none;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

p+p {
  margin-top: 1em;
}

.instruction {
  font-family: 'Indie Flower', sans-serif;
  padding: 1em;
}

.tip {
  position: absolute;
  font-size: .8em;
  text-align: center;
  text-shadow: -1px -1px 1px #ffffff, -1px 0px 1px #ffffff, -1px 1px 1px #ffffff, 0px -1px 1px #ffffff, 0px 1px 1px #ffffff, 1px -1px 1px #ffffff, 1px 0px 1px #ffffff, 1px 1px 1px #ffffff;
}

.axis text {
  font-size: 1.5em;
}
.axis.y.right .tick text {
  fill: steelblue;
}
.axis.y .tick line {
  stroke: #eee;
  stroke-width: 10px;
}

.image_container {
  position: relative;
}

.m_image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.image_container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.axis {
  z-index: -1000;
}

.text h3 {
  font-weight: bold;
}

.hero .intro > p {
  background: white;
}

#details-area {
  margin-left: 2em;
}

#tour-next-button {
  margin-bottom: 1em;
}

.field {
  display: inline-block;
}

.section {
  padding: 1.5rem 1.5rem;
}

.hero-body {
  padding: 1.5rem 0.5rem;
}

#tour-controls {
  height: 3em;
}

#tour-text {
  font-size: 1.5em;
  height: 6em;
}

#plot-area {
  padding-right: 2em;
}

#measurement-controls,#aggregate-controls {
  opacity: 0;
}

